<section id="advantages" class="advantages">
  <div class="advantage-container">
    <h2 class="advantage-title">Advantages</h2>
    <ul class="advantage-list">
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/pencil_x1.png 1x,
            ./img/advantages/pencil_x2.png 2x
          "
          src="./img/advantages/pencil_x1.png"
          alt="pencil"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Colorful Graphics</h3>
        <p>
          Enjoy beautifully rendered farm-themed visuals with CoCo and her
          chicks.
        </p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/emogi_x1.png 1x,
            ./img/advantages/emogi_x2.png 2x
          "
          src="./img/advantages/emogi_x1.png"
          alt="emogi"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Engaging Gameplay</h3>
        <p>Easy to learn but challenging to master, offering hours of fun.</p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/combos_x1.png 1x,
            ./img/advantages/combos_x2.png 2x
          "
          src="./img/advantages/combos_x1.png"
          alt="combos"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Special Combos</h3>
        <p>
          Create powerful combos and blasts to clear levels more efficiently.
        </p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/reward_x1.png 1x,
            ./img/advantages/reward_x2.png 2x
          "
          src="./img/advantages/reward_x1.png"
          alt="rewards"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Daily Rewards</h3>
        <p>
          Log in daily to receive free rewards and bonuses that help you
          progress.
        </p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/updates_x1.png 1x,
            ./img/advantages/updates_x2.png 2x
          "
          src="./img/advantages/updates_x1.png"
          alt="updates"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Regular Updates</h3>
        <p>
          Experience new levels and events with frequent updates to keep the
          game fresh.
        </p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/social_x1.png 1x,
            ./img/advantages/social_x2.png 2x
          "
          src="./img/advantages/social_x1.png"
          alt="social"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Social Integration</h3>
        <p>Compete with friends and share your achievements on social media.</p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/money_x1.png 1x,
            ./img/advantages/money_x2.png 2x
          "
          src="./img/advantages/money_x1.png"
          alt="money"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Free to Play</h3>
        <p>
          Download and play for free, with optional in-app purchases available.
        </p>
      </li>
      <li class="advantage-item">
        <img
          srcset="
            ./img/advantages/family_x1.png 1x,
            ./img/advantages/family_x2.png 2x
          "
          src="./img/advantages/family_x1.png"
          alt="family"
          loading="lazy"
          width="100"
          height="100"
        />
        <h3>Family-Friendly</h3>
        <p>
          Suitable for players of all ages, making it fun for the whole family.
        </p>
      </li>
    </ul>
    <h2 class="advantage-text">Disclaimer</h2>
    <p class="advantage-paragraph">
      PROHUBSTAR.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME.
    </p>
    <button class="advantage-btn" type="button">
      <a
        href="https://play.google.com/store/apps/details?id=com.cookapps.bubblecoco"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="advantage-img"
          src="./img/hero/google.png"
          alt="google button"
      /></a>
    </button>
  </div>
</section>
