<footer class="footer">
  <div class="container footer-container">
    <a class="link" href="./index.html">
      <svg stroke="#000" width="13" height="10">
        <use href="./img/sprite.svg#icon-line"></use>
      </svg>
      Go back</a
    >
    <p class="footer-text">All rights reserved prohubstar.com | 2024</p>
    <nav>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="./policy.html">Privacy policy</a>
        </li>
        <li class="footer-item">
          <a href="./conditions.html">Terms and conditions</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
