<section id="gallery" class="gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <p class="gallery-text">
      Immerse yourself in the vibrant world of Bubble CoCo: Bubble Shooter,
      where every shot brings you closer to saving the chicks and enjoying
      endless fun. Start your adventure today!
    </p>
    <div class="swip-container">
      <div class="swiper-wrapper" id="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/photo_1_x1_mob.png 1x,
                ./img/gallery/photo_1_x2_mob.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./img/gallery/photo_1_x1_desk.png 1x,
                ./img/gallery/photo_1_x2_desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/gallery/photo_1_x1_mob.png"
              alt="photo_1"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/photo_2_x1_mob.png 1x,
                ./img/gallery/photo_2_x2_mob.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./img/gallery/photo_2_x1_desk.png 1x,
                ./img/gallery/photo_2_x2_desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/gallery/photo_2_x1_mob.png"
              alt="photo_2"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/photo_3_x1_mob.png 1x,
                ./img/gallery/photo_3_x2_mob.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./img/gallery/photo_3_x1_desk.png 1x,
                ./img/gallery/photo_3_x2_desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/gallery/photo_3_x1_mob.png"
              alt="photo_3"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/photo_4_x1_mob.png 1x,
                ./img/gallery/photo_4_x2_mob.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./img/gallery/photo_4_x1_desk.png 1x,
                ./img/gallery/photo_4_x2_desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/gallery/photo_4_x1_mob.png"
              alt="photo_4"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/photo_5_x1_mob.png 1x,
                ./img/gallery/photo_5_x2_mob.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./img/gallery/photo_5_x1_desk.png 1x,
                ./img/gallery/photo_5_x2_desk.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/gallery/photo_5_x1_mob.png"
              alt="photo_5"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <button
        id="myPrev"
        class="swiper-button-prev"
        aria-label="Previous slide"
      ></button>
      <button
        id="myNext"
        class="swiper-button-next"
        aria-label="Next slide"
      ></button>
      <div id="myPagination" class="swiper-pagination my-pagination"></div>
    </div>
  </div>
</section>
