<header class="header">
  <div class="header-container">
    <div class="logo">
      <picture>
        <source
          srcset="
            ../img/header/logo_x1_mob.jpg 1x,
            ../img/header/logo_x2_mob.jpg 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ../img/header/logo_x1_desk.jpg 1x,
            ../img/header/logo_x2_desk.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <a href="../index.html" aria-label="Bubble CoCo">
          <img src="../img/header/logo_x1_mob.jpg" alt="logo" loading="lazy" />
        </a>
      </picture>
      <div class="logo-text">
        <p>Bubble CoCo:</p>
        <p>Bubble shooter</p>
      </div>
    </div>
    <nav class="header-navigation">
        <ul class="header-navigation-list"></ul>
            <li class="header-navigation-item">
              <a href="#home" class="header-navigation-link">Home</a>
            </li>
            <li class="header-navigation-item">
              <a href="#about" class="header-navigation-link">About the Game</a>
            </li>
            <li class="header-navigation-item">
              <a href="#reviews" class="header-navigation-link">Reviews</a>
            </li>
            <li class="header-navigation-item">
              <a href="#how_to_play" class="header-navigation-link">How to Play</a>
            </li>
             <li class="header-navigation-item"></li>
              <a href="#gallery" class="header-navigation-link">Gallery</a>
            </li>
             <li class="header-navigation-item"></li>
              <a href="#advantages" class="header-navigation-link">Advantages</a>
            </li>
          </ul>
      </nav>
       <button id="menu-opn-btn" type="button">
            <svg width="18" height="13">
              <use href="../img/sprite.svg#icon-menu"></use>
            </svg>
          </button>
  </div>
</header>
