<section id="hero" class="hero" >
  <div class="hero-container container">
    <div class="title-wrapper">
      <h1 class="hero-title">
        <span>Bubble CoCo:</span>
        <span>Bubble shooter</span>
      </h1>
      <button class="hero-btn" type="button">
        <a
          href="https://play.google.com/store/apps/details?id=com.cookapps.bubblecoco"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./img/hero/google.png" alt="google button"
        /></a>
      </button>
    </div>
    <div class="hero-photo">
      <picture>
        <source
          srcset="./img/hero/hero_mob_1x.png 1x, ./img/hero/hero_mob_2x.png 2x"
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./img/hero/hero_desk_1x.png 1x,
            ./img/hero/hero_desk_2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img src="./img/hero/hero_mob_1x.png" alt="game" loading="lazy" />
      </picture>
    </div>
  </div>
</section>
