<section id="how_to_play" class="section section-play">
  <div class="play-container">
    <div class="bg-container-play">
      <span class="reviews-highlight"></span>
    </div>
    <h2 class="title-play">
      How to
      <span class="title-span-play">play</span>
    </h2>

    <div class="play-list-container">
      <ul class="play-list">
        <li class="play-item">
          <div class="play-number"></div>
          <p class="play-text">
            Aim CoCo’s shooter by dragging it left or right to align with the
            target bubbles.
          </p>
        </li>
        <li class="play-item">
          <div class="play-number"></div>
          <p class="play-text">
            Shoot bubbles to match three or more of the same color to pop them
            and rescue the chicks.
          </p>
        </li>
        <li class="play-item">
          <div class="play-number"></div>
          <p class="play-text">
            Strategize your shots to create combos and chain reactions for
            higher scores.
          </p>
        </li>
        <li class="play-item">
          <div class="play-number"></div>
          <p class="play-text">
            Overcome obstacles like rotating platforms, blocked bubbles, and
            more by clearing nearby bubbles.
          </p>
        </li>
        <li class="play-item hidden">
          <div class="play-number"></div>
          <p class="play-text">
            Use special bubbles, like bombs and rainbow bubbles, to clear large
            sections of the board.
          </p>
        </li>
        <li class="play-item hidden">
          <div class="play-number"></div>
          <p class="play-text">
            Complete level objectives, such as rescuing a specific number of
            chicks or achieving a high score.
          </p>
        </li>
        <li class="play-item hidden">
          <div class="play-number"></div>
          <p class="play-text">
            Earn stars by completing levels with top scores, unlocking new
            stages and challenges.
          </p>
        </li>
        <li class="play-item hidden">
          <div class="play-number"></div>
          <p class="play-text">
            Participate in daily events and challenges to earn additional
            rewards and power-ups.
          </p>
        </li>
      </ul>

      <button class="play-btn" id="readMoreBtn">Read more</button>
    </div>
  </div>
</section>
