<section id="about" class="section section-about">
  <div class="about-container">
    <!-- <div class="bg-container">
      <span class="highlight"></span>
    </div>
    <h2 class="title">
      About the
      <span class="text">game</span>
    </h2>

    <ul class="game-list">
      <li class="game-item">
        <div class="chicken-photo-container">
          <picture>
            <source
              srcset="
                ./img/about/chicken-desk.jpg    1x,
                ./img/about/chicken-desk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/about/chicken-mob.jpg    1x,
                ./img/about/chicken-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="chicken-photo"
              src="./img/about/chicken-desk.jpg"
              alt="Chicken"
              width="619"
              height="350"
            />
          </picture>
        </div>
        <div class="description-container">
          <h3 class="description-title">
            Step into a colorful farm adventure with Bubble CoCo:
          </h3>
          <p class="description-text">
            Bubble Shooter, a delightful bubble-popping game where you help CoCo
            the chicken rescue her precious chicks. In this fun and engaging
            game, you’ll shoot bubbles to match three or more of the same color,
            clearing levels and saving the adorable chicks trapped in the
            bubbles. Each level brings new challenges, from navigating tricky
            bubble layouts to overcoming obstacles like rotating platforms and
            blocked bubbles.
          </p>
        </div>
      </li>
      <li class="game-item item-map">
        <div class="map-photo-container">
          <picture>
            <source
              srcset="
                ./img/about/map-desk.jpg    1x,
                ./img/about/map-desk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/about/map-mob.jpg 1x, ./img/about/map-mob@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              class="map-photo"
              src="./img/about/map-desk.jpg"
              alt="Chicken"
              width="622"
              height="350"
            />
          </picture>
        </div>
        <div class="description-container">
          <h3 class="description-title">
            Unlock powerful boosters and special bubbles!
          </h3>
          <p class="description-text">
            As you progress, you’ll unlock powerful boosters and special bubbles
            that can help you clear even the most challenging levels. With
            hundreds of levels to explore, daily rewards, and special events,
            Bubble CoCo: Bubble Shooter offers endless entertainment for players
            of all ages. Whether you're a seasoned bubble shooter or a newcomer
            to the genre, this game is sure to keep you entertained with its
            charming visuals, cheerful soundtrack, and satisfying gameplay.
            Start popping bubbles today and see how many chicks you can rescue
            on your farm adventure!
          </p>
        </div>
      </li>
    </ul> -->
  </div>
</section>
