<section id="reviews" class="section section-reviews">
  <div class="reviews-container">
    <div class="bg-container-reviews">
      <span class="reviews-highlight"></span>
      <span class="reviews-highlight-second"></span>
    </div>
    <h2 class="title-reviews">Reviews</h2>

    <div class="swiper-container">
      <ul class="carousel carousel-mob row-first">
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "Bubble CoCo is a great game for relaxing after a long day. The
              farm theme is adorable!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/first-author-desk.jpg    1x,
                      ./img/reviews/first-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/first-author-mob.jpg    1x,
                      ./img/reviews/first-author-mob@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/first-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>
                <span class="author-name">Emma W.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "I can’t get enough of Bubble CoCo. Every level is a new
              challenge!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/second-author-desk.jpg    1x,
                      ./img/reviews/second-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/second-author-desk.jpg    1x,
                      ./img/reviews/second-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/second-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Alexander J</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "The levels are challenging but doable. It’s the perfect game for
              all ages!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/third-author-desk.jpg    1x,
                      ./img/reviews/third-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/third-author-mob.jpg    1x,
                      ./img/reviews/third-author-mob@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/third-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Mia S.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="carousel carousel-mob row-second">
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "The variety of levels keeps the game interesting. I’m always
              looking forward to the next one."
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/fourth-author-desk.jpg    1x,
                      ./img/reviews/fourth-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/fourth-author-desk.jpg    1x,
                      ./img/reviews/fourth-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/fourth-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Lucas T.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "The daily rewards are fantastic. They help me get through the
              tough levels!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/fifth-author-desk.jpg    1x,
                      ./img/reviews/fifth-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/fifth-author-desk.jpg    1x,
                      ./img/reviews/fifth-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/fifth-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Ava R.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "The special events are so much fun. I always look forward to
              them!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/sixth-author-desk.jpg    1x,
                      ./img/reviews/sixth-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/sixth-author-desk.jpg    1x,
                      ./img/reviews/sixth-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/sixth-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Isabella C.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="carousel carousel-mob row-third">
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "Bubble CoCo is the best bubble shooter I’ve played. The farm
              theme makes it so enjoyable!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/seventh-author-desk.jpg    1x,
                      ./img/reviews/seventh-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/seventh-author-desk.jpg    1x,
                      ./img/reviews/seventh-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/seventh-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Ethan G.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "I love competing with my friends for the highest score. The
              social features are excellent!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/eighth-author-desk.jpg    1x,
                      ./img/reviews/eighth-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/eighth-author-desk.jpg    1x,
                      ./img/reviews/eighth-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/eighth-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Henry F.</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-container">
            <p class="review-text">
              "I love competing with my friends for the highest score. The
              social features are excellent!"
            </p>
            <div class="review-author">
              <div class="author-photo">
                <picture>
                  <source
                    srcset="
                      ./img/reviews/ninth-author-desk.jpg    1x,
                      ./img/reviews/ninth-author-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/reviews/ninth-author-desk.jpg    1x,
                      ./img/reviews/ninth-author-desk@2x.jpg 2x
                    "
                    media="(max-width: 1439px)"
                  />
                  <img
                    class="review-photo"
                    src="./img/reviews/ninth-author-desk.jpg"
                    alt="Author"
                    width="64"
                    height="64"
                  />
                </picture>

                <span class="author-name">Bill J</span>
              </div>
              <div class="quotes"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
