.header {
  padding-top: 24px;
  
  background-color: $_header_color;
  @include media(desktop) {
    padding-top: 32px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  @include media(desktop) {
    max-width: 1280px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  color: $_text_color;
  @include media(desktop) {
    gap: 24px;
    font-size: 20px;
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.header-navigation {
  display: none;
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    gap: 48px;
    color: $_text_color;
  }
}

.menu-btn {
  border: none;
  background-color: transparent;
  @include media(desktop) {
    display: none;
  }
}
