.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  // @include font(30, 40);
  color: $_header_color;
}

// .nav-link:hover,
// .nav-link:focus {
//   color: $_header_accent_color;
// }

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 8px;
  font-size: 20px;
  color: $_text_color;
  @include media(desktop) {
    // width: 276px;
    // height: 85px;
    gap: 24px;
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
}
