.hero {
  background-image: url('../img/hero/bckgr_x1_mob.png'),
    url('../img/hero/blue_background_mob_x1.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 30px left 0px, top -9px left 0px;
  background-size: 100vw 317px, 100vw 520px;
  padding-top: 60px;
  padding-bottom: 40px;
  min-width: 320px;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url('../img/hero/bckgr_x1_desk.png'),
      url('../img/hero/blue_background_desk_x1.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 167px left -55px, top 0px left 0px;
    background-size: 1290px 674px, 100vw 745px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/hero/bckgr_x2_mob.png'),
      url('../img/hero/blue_background_mob_x2.png');

    @include media(desktop) {
      background-image: url('../img/hero/bckgr_x2_desk.png'),
        url('../img/hero/blue_background_desk_x2.png');
    }
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  max-width: 320px;
  @include media(desktop) {
    max-width: 1280px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(desktop) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-title {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 32px 0px;
  color: $_text_color;
  @include media(desktop) {
    font-size: 64px;
    text-align: left;
  }
}

.hero-btn {
  background-color: transparent;
  border: none;
  width: 134px;
  height: 38px;
  margin: 0 auto;
  padding: 0;
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);

  @include media(desktop) {
    width: 330px;
    height: 95px;
    margin: 0;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(1.07);
}

.hero-img {
  border-radius: 15px;
  @include media(desktop) {
    border-radius: 0;
  }
}

.hero-photo {
  margin: 0 auto;
  background-color: transparent;
  height: 284px;

  @include media(desktop) {
    margin: 0;
    height: 625px;
  }
}
