@import 'node_modules/normalize-scss/sass/normalize/import-now.scss';
@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './how.scss';
@import './footer.scss';
@import './privacy-policy.scss';

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #f1ffe7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section {
  width: 320px;
  margin: 0 auto;

  @include media(desktop) {
    width: 1440px;
  }
}
