.vite-promo .title,
.vite-promo .text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.highlight {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.highlight-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%; /* Делаем SVG фоном для всего текста */
  height: 1.2em; /* Высота адаптируется к размеру текста */
  z-index: -1; /* Фон под текстом */
}

.text {
  position: relative;
  color: white; /* Цвет текста белый */
  z-index: 1;
  padding: 0 10px;
}
